    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    /* ELEMENTOS DO GAME */
    
    #game-container {
        display: flex;
        align-items: center;
        height: 100vh;
        position: relative;
        overflow: hidden;
        width: 100vw;
        background-image: linear-gradient(#251559, black);
    }
    
    .chao-game {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 200%;
        background-image: url(../images/chao.png);
        background-size: 29%;
        position: absolute;
        animation: chao-animation 5s linear infinite;
    }
    
    .lua-game {
        width: 40%;
        position: absolute;
        right: 0;
        bottom: 115px;
        animation: lua-animation 15s infinite linear;
    }
    
    .enemy-game {
        width: 15%;
        position: absolute;
        bottom: 30px;
        animation: enemy-animation 1s infinite linear;
    }
    
    .powerup-game {
        width: 17%;
        position: absolute;
        margin-top: 28%;
        right: 0;
        animation: powerup-animation 6s infinite ease-out;
    }
    /* PERSONAGENS */
    
    .char-game {
        width: 17%;
        position: absolute;
        bottom: 50px;
        left: 0;
    }
    
    .charBig {
        width: 17%;
        position: absolute;
        bottom: 50px;
    }
    
    .charSmall {
        width: 17%;
        position: absolute;
        bottom: 50px;
        left: 0;
    }
    
    .char-dead {
        animation: char-dead 3s linear forwards;
        width: 17%;
        position: absolute;
    }
    
    .rapid {
        width: 17%;
        position: absolute;
        bottom: 50px;
        left: 0;
    }
    
    .char-jump {
        animation: char-animation 500ms ease-out;
    }
    /* TELA INICIAL E BOTÕES */
    
    #tela-inicial {
        position: relative;
        z-index: 3;
        bottom: 0;
    }
    
    .tela-inicio {
        width: 100vw;
        height: 100vh;
    }
    /* BOTAO START */
    
    .btnStartContainer {
        position: absolute;
        left: 25%;
        display: block;
        top: 55%;
        bottom: 50%;
        z-index: 4;
        width: 290px;
        height: 140px;
    }
    
    .btnStart {
        border-style: none;
        display: block;
        background-color: rgba(0, 255, 255, 0);
        width: 0;
        height: 0;
        border-radius: 100px;
    }
    
    .btnStart:hover {
        cursor: pointer;
    }
    
    .btnStartContainer p {
        position: absolute;
        color: aliceblue;
        font-size: 25px;
        font-family: fantasy;
        top: 15px;
        left: 90px
    }
    
    .btnStart img {
        display: block;
        width: 300px;
        height: 170px;
    }
    /* BOTAO INSTRUCTIONS */
    
    .btnInstructionsContainer {
        position: absolute;
        display: block;
        top: 55vh;
        width: 290px;
        height: 140px;
        left: 50vw;
        z-index: 4;
    }
    
    .btnInstructions {
        display: block;
        border-style: none;
        background-color: rgba(0, 255, 255, 0);
        width: 0;
        height: 0;
        border-radius: 100px;
    }
    
    .btnInstructions:hover {
        cursor: pointer;
    }
    
    .btnInstructionsContainer p {
        position: absolute;
        color: aliceblue;
        font-size: 25px;
        font-family: fantasy;
        left: 90px;
        top: 15px;
    }
    
    .btnInstructions img {
        display: block;
        width: 300px;
        height: 170px;
    }
    /* BOTAO RESTART */
    
    .btnRestart {
        border-style: none;
        color: #fff;
        font-size: 1.3rem;
        text-decoration: underline;
        background-color: red;
        width: 150px;
        height: 100px;
        border-radius: 10px;
        position: absolute;
        left: 50%;
    }
    
    .elementos-game p {
        text-align: center;
    }
    
    .btnRestart:hover {
        cursor: pointer;
        box-shadow: 16px 14px 20px #0000008c;
        border: 2px solid pink;
    }
    /* INSTRUCTIONS */
    
    #instructions {
        position: fixed;
        top: 20vh;
        left: 20vw;
        z-index: 9;
        font-size: 20px;
        width: 60vw;
        height: 70vh;
        background-color: rgb(222, 222, 140);
        padding: 50px 50px 0px 50px;
        border: solid black 10px;
        overflow: auto;
    }
    
    li {
        margin-bottom: 9px;
    }
    
    #closeInstructionsButton {
        position: relative;
        display: block;
        left: 75%;
        top: 10%;
        padding: 0.5em;
        border-radius: 4px;
    }
    
    #closeInstructionsButton:hover {
        background-color: rgb(190, 190, 190);
    }
    /* KEYFRAMES */
    
    @keyframes enemy-animation {
        0% {
            right: -250px;
        }
        100% {
            right: 100%;
        }
    }
    
    @keyframes lua-animation {
        0% {
            right: -500px;
        }
        100% {
            right: 100%;
        }
    }
    
    @keyframes powerup-animation {
        0% {
            top: -50%;
        }
        15% {
            top: 1.5625%;
        }
        25% {
            bottom: 1.5625%;
        }
        35% {
            right: 100%;
        }
        100% {
            right: 100%;
        }
    }
    
    @keyframes chao-animation {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50%);
        }
    }
    
    @keyframes char-animation {
        0% {
            bottom: 0;
        }
        40% {
            bottom: 39.0625%;
        }
        70% {
            bottom: 43.75%;
        }
        100% {
            bottom: 0;
        }
    }
    
    @keyframes char-dead {
        0% {
            bottom: 0;
        }
        40% {
            bottom: 29.296875%;
        }
        70% {
            bottom: 29.296875%;
        }
        100% {
            bottom: 19.53125%;
        }
    }
    
    @media screen and (min-width:1800px) {
        .chao-game {
            background-size: 31%;
        }
    }